---
layout: default
---

<div class="home">
  <p class="rss-subscribe">Suscríbete <a href="{{ "/feed.xml" | prepend: site.baseurl }}">vía RSS</a></p>

  {%include title.html icon="glyphicon glyphicon-briefcase" title=" PUBLICACIONES"%}

  <ul>
    {% for post in site.posts limit 5%}
      <h3><a href="{{ post.url }}">{%include bootstrap-icon.html icon="glyphicon glyphicon-link" %} {{ post.title }} <small>{{ post.date | date_to_string }}</small></br></a></h3>

      {{ post.content | strip_html |  truncatewords:35}}
      <a href="{{ post.url }}">Leer más</a><br><br>
    {% endfor %}
  </ul>




</div>
