<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script charset="utf-8">
    function InvalidMsg(textbox) {

      if (textbox.value == '') {
        textbox.setCustomValidity('Este campo es obligatorio.');
      }
      else if(textbox.validity.typeMismatch){
        textbox.setCustomValidity('Ingrese un email válido.');
      }
      else {
        textbox.setCustomValidity('');
      }
      return true;
  }
  </script>
</head>
<body>
<div>
    <form class="form-horizontal" action="" method="post">
      <input type='hidden' name='redirect_to' value='../index.html' />
      <fieldset>
        <!-- Name input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="name">Nombre</label>
          <div class="col-md-9">
            <input id="name" name="name" type="text" placeholder="Tu nombre completo ..." class="form-control" oninvalid="InvalidMsg(this);" required>
          </div>
        </div>

        <!-- Email input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="email">E-mail</label>
          <div class="col-md-9">
            <input id="email" name="email" type="email" placeholder="Tu email ..." class="form-control" oninvalid="InvalidMsg(this);" required>
          </div>
        </div>

        <!-- Message body -->
        <div class="form-group">
          <label class="col-md-3 control-label" for="message">Mensaje</label>
          <div class="col-md-9">
            <textarea class="form-control" id="message" name="message " placeholder="Ingresa tu mensaje aquí..." rows="5" oninvalid="InvalidMsg(this);" required></textarea>
          </div>
        </div>
        <br></br>
        <div class="form-group">
          <label class="col-sm-3 control-label"></label>
          <div class="col-sm-9 captchaContainer">
            <div class="g-recaptcha" data-sitekey="6LcaEwgTAAAAAN1luFpbk3t80OkHDxrHFIl5WQku"></div>
          </div>
        </div>


        <!-- Form actions -->
        <div class="form-group">
          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary btn-lg">Enviar Mensaje</button>
          </div>
        </div>
      </fieldset>
      </form>
</div>
</body>
